{
	"parserOptions": {
		"project": "./include/tsconfig.json"
	},
	"rules": {
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/camelcase": "off",
		"@typescript-eslint/class-name-casing": "off",
		"@typescript-eslint/triple-slash-reference": "off",
		"@typescript-eslint/ban-types": "off",
		"@typescript-eslint/no-unused-vars": ["warn", { "varsIgnorePattern": "_" }]
	}
}
