name: Test

on:
  pull_request:

jobs:
  test:
    if: contains(github.event.commits[0].message, '[skip ci]') == false

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - uses: bahmutov/npm-install@v1

      - name: Generate Files
        run: npm run build

      - name: Typecheck Files
        run: npm run check

      - uses: actions/upload-artifact@v4
        with:
          name: include
          path: include
